@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("backimg.png");
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    animation: pageLoad 2s ease;
}

@keyframes pageLoad {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.navbar {
    position: fixed;
    top: 5px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.75rem 3rem;

    color: black;
    text-transform: uppercase;

    z-index: 1000;
    isolation: isolate;
    animation: navLoad 2s ease;
}

@keyframes navLoad {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Glass layer */
.navbar::before {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(255, 255, 255, 0.12);

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    z-index: -1;
}

.img-logo {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 60px;
    left: 60px;
    top: -6px;
}

.logo {
    font-size: clamp(0.75rem, 1.11vw, 1.125rem);
    color: black;
    font-family: "Saira Stencil", sans-serif;
    font-weight: 500;
}

.logo sub {
    padding-left: 30px;
}

.logo span {
    color: #0096FF;
    font-size: clamp(0.75rem, 1.13vw, 1.25rem);
}

.nav-links {
    display: flex;
    gap: 3.5rem;
    list-style: none;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: .4s ease;
    font-size: 1rem;
    padding: 4px 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.nav-links li a:hover {
    border-top: 2px solid #0096FF;
    border-bottom: 2px solid #0096FF;
    color: #0096FF;


}

.menu {
    font-size: clamp(1rem, 2.5vw, 2rem);
    display: none;
    border-radius: 0.4rem;
    padding: 0.4rem;
    border: 0.75px solid gray;
    background: rgba(255, 255, 255, 0.188);
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.08);
    border-color: #0096FF;
    box-shadow: 0 0 8px rgba(0, 150, 255, 0.5);
}

.menu:active {
    transform: scale(0.95);
}

.main-sec {
    width: 100%;
    justify-content: center;
    padding-top: 60px;
}

.section-1 {
    display: flex;
    width: 100%;
    gap: 12rem;
    padding: 4rem;
    align-items: center;
    justify-content: center;
}

.left-div {
    width: 100%;
    max-width: 520px;
    padding: 0.75rem;
}

.cv-btn {
    width: 100%;
    max-width: 220px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.875rem 2.5rem;
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    font-weight: 600;
    border-radius: 0.75rem;
    color: #0096FF;
    border: 1px solid #0096FF;
    box-shadow: 0 0 4px 1px #0096FF;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s ease;

}

.cv-btn i {
    color: #0096FF;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.cv-btn:hover {
    background: linear-gradient(135deg, #E5F4FF 0%, #80C2FF 50%, #0096FF 100%);
    transform: scale(1.03);
    color: white;
    border-color: transparent;
}

.main-btns {
    width: 100%;
    gap: 1rem;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
}

.element {
    font-style: none;
    padding-left: 0.5rem;
    font-weight: 400;
    font-family: "Montenegrin Gothic One", serif;
    color: black;

    font-size: clamp(0.75rem, 1.8vw, 1.65rem);
}

.fa-square-github {
    padding: 0px;
    cursor: pointer;
    font-size: clamp(1.25rem, 2.4vw, 2.5rem);
    transition: all .3s ease;
}

.fa-square-github:hover {

    filter: drop-shadow(0px 0px 24px purple);
    transform: scale(1.05);
}

.main-btn {
    width: 100%;
    max-width: 110px;
    display: inline-flex;
    padding: 0.4375rem 1.25rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    border-radius: 0.75rem;
    cursor: pointer;
    transition: .4s ease;
    color: #0096FF;
    border: 1px solid #0096FF;
}

.main-btn:hover {
    color: white;
    transform: scale(1.03);
    background: linear-gradient(135deg, #E5F4FF 0%, #80C2FF 50%, #0096FF 100%);
    border-color: transparent;
}

.right-div {
    width: 100%;
    max-width: 520px;
    display: block;
    transition: .4s ease;
    border-radius: 0.725rem;
    box-shadow: 0px 0px 12px 3px rgba(211, 211, 211, 0.918);

}

.right-div img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.right-div :hover {

    transform: scale(1.03);
    box-shadow: 0px 0px 12px 3px rgba(211, 211, 211, 0.918);
}

.head {
    font-family: "Saira Stencil", sans-serif;
    padding: 1rem 0rem;
    transition: .4s ease;

}

.head:hover {
    transform: scale(1.1);

}

.top {
    color: black;
    font-size: clamp(2rem, 5vw, 4rem);
    text-shadow: 3px 3px 5px purple;
}

.bottom {
    font-weight: bold;
    background: linear-gradient(90deg,
            #42A5F5 20%,
            #FF9800 75%,
            #FFD54F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: clamp(2rem, 5vw, 4rem);
    margin-top: -12px;
    text-shadow: 10px 10px 16px rgb(155, 29, 155);
}

/*----------SPEACIAL-----TAGS------------*/
p {

    font-family: "Raleway", sans-serif;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.75rem, 1.5vw, 1.125rem);

}

h1 {
    padding-top: 1rem;
    font-size: clamp(1.125rem, 2vw, 2rem);
    font-weight: bold;
    text-transform: capitalize;
    font-family: "Saira Stencil", sans-serif;
}

h1 span {
    color: #0096FF;
}

h3 {
    text-align: start;
    font-weight: 200;

    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-family: "Montenegrin Gothic One", serif;
}

/*--Section 2--*/
.section-2 {
    width: 100%;
    text-align: center;
    padding-top: 3rem;
}


.ex-div1 {
    display: flex;
    padding: 1rem 4rem;
    margin-top: 0.5rem;
    gap: 12rem;
    align-items: center;
    justify-content: center;
}

.div-left {
    width: 100%;
    max-width: 520px;
    display: block;
    border-radius: 0.725rem;
    transition: .4s ease;
    box-shadow: 0px 0px 10px 3px rgba(211, 211, 211, 0.918);
}

.div-left img {
    width: 100%;
    height: auto;
    border-radius: 1rem;

}


.div-left:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 12px 3px rgba(211, 211, 211, 0.918);

}

.div-right {
    width: 100%;
    max-width: 520px;
    text-align: start;
    color: black;

}

.road {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.line {
    box-shadow: 0px 0px 2px #42A5F5;
    width: 100%;
    max-width: 25px;
    background-color: #0096FF;
    border: 0.5px solid #42A5F5;
    padding: 1.25px;
    border-radius: 0.125rem;
}

.div-right h3 {
    text-align: start;
    padding-left: 0.35rem;
    font-weight: 200;
    text-transform: uppercase;
    font-size: clamp(1rem, 1.74vw, 1.75rem);
    font-family: "Montenegrin Gothic One", serif;
}


.div-right span {
    color: #0096FF;
    font-weight: bold;
}

.ex-div2 {
    display: flex;
    padding: 2rem 4rem;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.div-1 {
    width: 100%;
    max-width: 700px;
    background: rgba(177, 176, 176, 0.2);
    text-align: center;
    border-radius: 0.75rem;
    padding: 1.25rem 0.5rem;
    box-shadow: 0px 0px 10px 3px rgba(211, 211, 211, 0.918);

}

.div-2,
.div-3 {
    width: 100%;
    max-width: 305px;
    text-align: center;
    background: rgba(177, 176, 176, 0.2);
    border-radius: 0.75rem;
    padding: 1.25rem 0.5rem;
    box-shadow: 0px 0px 10px 3px rgba(211, 211, 211, 0.918);

}

.p-btn {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 220px;
    border: 1px solid #0096FF;
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    padding: 1rem 2.5rem;
    border-radius: 0.75rem;
    display: inline-flex;
    cursor: pointer;
    color: #0096FF;
    transition: .4s ease;
    background-color: lightgray;

}

.p-btn:hover {
    color: white;
    transform: scale(1.03);
    background: linear-gradient(135deg, #E5F4FF 0%, #80C2FF 50%, #0096FF 100%);
    border-color: transparent;
}

/*--------------------SKILLS SECTION-------------------------------*/
.skill-sec {
    width: 100%;
    padding: 0rem 4rem;
    text-align: center;
}

.skill-sec h1 {
    font-size: clamp(1.125rem, 2vw, 2rem);
    font-weight: bold;
    color: black;
    text-transform: capitalize;
    font-family: "Saira Stencil", sans-serif;

}

.skill-sec span {
    color: #0096FF;
}

h2 {
    font-size: clamp(1rem, 1.4vw, 1.25rem);
    font-weight: 200;
    color: black;
    text-transform: uppercase;
    font-family: "Montenegrin Gothic One", serif;
    padding: 0.25rem 0rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    width: 100%;
    padding: 0.5rem 4rem;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 0px 0px 10px 3px rgba(211, 211, 211, 0.918);
    max-width: 260px;
    width: 100%;
    background-color: #0096FF;
    padding: 1rem;
    border-radius: 0.75rem;
    height: auto;
    transition: all 1.7s ease;
}

.card:hover {
    transform: rotate(360deg) scale(1.1);
    background: linear-gradient(135deg, #E5F4FF 0%, #80C2FF 50%, #0096FF 100%);
}

.card:hover img {
    scale: 0.9;
}

.icon {
    text-align: center;
}

.icon img {
    padding: 0.125rem 0rem;
    max-width: 110px;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.card span {
    text-transform: uppercase;
    padding: 0.25rem 0rem;
    text-align: start;
    float: left;
    font-size: clamp(0.75rem, 1vw, 1.125rem);
    color: black;
}

.bar {
    width: 100%;
    height: 18px;
    background: white;
    border-radius: 0.4rem;
    overflow: hidden;
    transition: 3s ease;

}

.progress {
    width: 0;
    height: 100%;
    background-color: #80C2FF;
    font-size: clamp(0.5rem, 1vw, 1rem);
    color: black;
    line-height: 18px;
    border-radius: 0.4rem;
    transition: 3s ease;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0.125rem;
}

.skill-container {
    width: 100%;
    height: auto;
    padding: 3rem 1rem 4rem 4rem;
    text-align: center;

}

.progress-container {
    display: flex;
    gap: 8rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;

}

.click {
    width: 100%;
    max-width: 530px;
    padding: 2rem 4rem;
    border-radius: 0.70rem;
    height: auto;
    cursor: pointer;
    background: #E5F4FF;
    transition: .3s ease;
}

.click.active {
    background-color: #80C2FF;
}

.bar-container {
    width: 100%;
    padding: 0.25rem;
}

.bar-container h3 {
    padding-left: 0.125rem;
    text-transform: capitalize;
    float: left;
    font-size: clamp(0.75rem, 1.1vw, 1.125rem);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.bar-container span {
    padding-right: 0.125rem;
    float: right;
    font-size: clamp(0.5rem, 1vw, 1rem);
    text-align: end;
    font-weight: 200;
    font-family: "Montenegrin Gothic One", serif;
}

.progress-bar {
    background: white;
    overflow: hidden;
    border-radius: 0.4rem;
    transition: 3s ease;
    width: 100%;
    height: 16px;
    border: 0.5px solid black;
}

.bar-line {
    width: 0;
    line-height: 16px;
    background-color: #42A5F5;
    height: 100%;
    transition: 3s ease;
    display: flex;
    justify-content: end;
    border-radius: 0.4rem;
}

/*----------------------real------------------------footer-----------------*/
.main-footer {
    width: 100%;
    padding-top: 1rem;
}

.main-footer>article {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem;
    margin: 50px 0px;
}

.msg-box {
    width: 100%;
    max-width: 600px;
    height: auto;
    text-align: center;
    border: 3px solid #0096FF;
    border-radius: 0.75rem;
    padding: 0.75rem;
}

.msg-box h3 {
    text-transform: uppercase;
    padding: 0.25rem;
    text-align: center;
}

.form {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    text-align: center;
}

input {
    font-family: "Roboto Mono", monospace;
    text-transform: capitalize;
    margin: 0.25rem 0rem;
    border-radius: 0.25rem;
    border: 0.5px solid gray;
    padding: 0.25rem;
    color: gray;
    outline: none;
    width: 100%;
    max-width: 288;
    height: auto;
    font-size: clamp(0.75rem, 1vw, 1.25rem);
}

textarea {
    font-family: "Roboto Mono", monospace;
    padding: 0.25rem;
    height: auto;
    width: 100%;
    border-radius: 0.5rem;
    resize: none;
    outline: none;
    color: gray;
    font-size: clamp(1rem, 1vw, 1.25rem);
    border: 0.5px solid gray;
    text-transform: capitalize;
    margin: 0.25rem 0rem;
}

.sub-btn {
    font-family: "Roboto Mono", monospace;
    border: 0.5px solid grey;
    color: black;
    background-color: #0096FF;
    text-align: center;
    text-transform: uppercase;
    padding: 0.25rem;
    width: 100%;
    max-width: 180px;
    height: auto;
    font-size: clamp(0.75rem, 1vw, 1.25rem);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: .4s ease;
}

.sub-btn i {
    padding-left: 0.35rem;
}

.sub-btn:hover {
    color: white;
}

/**--------------------------------footer-------------------------------**/
.footer {
    width: 100%;
    padding: 2rem 4rem;
    text-align: start;
    display: flex;
    gap: 10rem;
    align-items: start;
    justify-content: center;
    background-color: #0096FF;
}

.footer h1 {
    display: flex;
}

.footer span {
    color: white;
    padding-left: 0.45rem;
}

.footer-container {
    width: auto;
    height: auto;
    text-align: start;
    display: flex;
    gap: 8rem;
    padding: 0.3rem 0rem;
}

.footer-box {
    text-align: start;
    height: auto;
    width: auto;
    padding: 1.25rem 0rem;
    align-items: start;
}

.footer-box p,
.links li,
a,
address {
    font-weight: 400;
    padding: 0.25rem 0rem;
    cursor: pointer;
    color: black;
    font-size: clamp(1rem, 1.2vw, 1.125rem);
    text-decoration: none;
    list-style: none;
    transition: .3s ease;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
}

input:focus,
textarea:focus {
    border: 1px solid #0096FF;
    box-shadow: 0 0 8px rgba(0, 150, 255, 0.5);
    background-color: #f9f9f9;
}

.sub-btn:hover {
    color: white;
    transform: scale(1.02);
    background: linear-gradient(135deg, #E5F4FF 0%, #0096FF 100%);
}

.footer-box p,
.links li,
a,
address>i {
    padding-right: 0.125rem;
}

.footer-box p:hover,
p>a:hover,
address:hover,
.links li a:hover {
    color: white;
}

.copyright {
    padding: 0.5rem 1.5rem;
    color: black;
}

/****---------------Tablet----------****--------responsive---------------****/
@media(max-width:1024px) {
    body {
        background-size: 100% 100vh;
        background-position: center top;
    }

    .logo {
        font-size: clamp(1.125rem, 1.5vw, 2.125rem);
    }

    .navbar {
        padding: 1rem 1.8rem;
    }

    .navbar::before {
        background: rgba(255, 255, 255, 0.12);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    .menu {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 1002;
        margin-right: 3rem;
    }

    .fa-square-github {
        font-size: 3rem;
    }

    .main-btns {
        gap: 3rem;
    }

    .nav-links {
        display: none;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 1000;
        width: 100%;
        top: 58px;
        height: 100%;
        gap: 2.5rem;
        flex-direction: column;

        background: rgba(255, 255, 255, 0.12);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    .nav-links li {
        margin-top: 12px;
    }

    .nav-links li a {
        font-size: 0.9rem;
    }

    .nav-links.active {
        display: flex;
    }

    .main-sec {
        padding-top: 3.75rem;
    }

    .cv-btn {
        padding: 0.75rem 1.5rem;
        font-size: 0.8rem;
        border-radius: 0.6rem;
    }

    .section-1 {
        flex-wrap: wrap;
        gap: 4rem;
        padding: 1.5rem 3rem;
        align-items: center;
        justify-content: center;

    }

    .left-div {
        width: 100%;

    }

    .right-div {
        width: 100%;

    }

    .main-btn {
        padding: 1rem;
        border-radius: 0.6rem;
    }

    .section-2 {
        flex-wrap: wrap;
        padding: 1.5rem 3rem;
        align-items: center;
        justify-content: center;
    }

    .ex-div1 {
        flex-wrap: wrap;
        gap: 4rem;
        padding: 1.5rem 3rem;
    }

    .div-left {
        width: 100%;


    }

    .div-right {
        width: 100%;


    }

    .ex-div2 {
        flex-wrap: wrap;
        gap: 2.1rem;
        padding: 1.5rem 3rem;
    }

    /*--long div*/
    .div-1 {
        width: 100%;
        max-width: 260px;
        padding: 0.25rem;
    }

    .div-2,
    .div-3 {
        width: 100%;
        padding: 0.25rem;
        max-width: 190px;
    }

    .p-btn {
        width: 100%;
        max-width: 110px;
        padding: 0.4375rem 1.25rem;
        border-radius: 0.375rem;
    }

    /*------------skill sec----------*/
    .skill-sec {
        width: 100%;
        padding: 1.5rem 3rem;
    }

    .skill-sec h1 {
        padding: 0.75rem;
    }

    .cards {
        flex-wrap: wrap;
        gap: 2.75rem;
        overflow: hidden;
        padding: 0.5rem 3rem;
    }

    .card {
        max-width: 200px;
        padding: 0.75rem;
        border-radius: 0.5rem;
    }

    .icon img {
        width: 100%;
        max-width: 60px;
    }

    .bar {
        height: 12px;
    }

    .skill-container {
        padding: 5rem 0rem 0rem 0rem;
    }

    .progress-container {
        padding: 0rem 4rem;
        align-items: center;
        justify-content: center;
    }

    /**----------------------original----------footer----------------------**/
    article {
        padding: 1rem 3rem;
        flex-wrap: wrap;
    }

    .msg-box {
        flex-wrap: wrap;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    /**---------------------footer----------------------**/
    .footer {
        padding: 1.75rem 3rem;
        height: auto;
        flex-wrap: wrap;
        text-align: center;
        gap: 1rem;
        padding: 1rem 3rem;
    }

    .footer-container {
        gap: 2.5rem;
        text-align: start;
        flex-wrap: wrap;
        align-items: center;
    }
}

/*--------------------------------Mobile-----responsive----------------------*/
@media(max-width:768px) {
    body {
        background-size: 100% 100vh;
        background-position: center top;
    }

    .navbar {
        padding: 0.5rem 1.8rem;
    }

    .navbar::before {
        background: rgba(255, 255, 255, 0.12);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    .menu {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 1002;
        margin-right: 0rem;
    }

    .nav-links {
        display: none;
        left: auto;
        right: 0;
        width: 240px;
        top: 57.5px;
        height: 100%;
        flex-direction: column;
        position: fixed;
        z-index: 1001;
        gap: 2rem;

        background: rgba(255, 255, 255, 0.12);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    .logo {
        margin-left: -4rem;
    }

    .nav-links li {
        margin-top: 12px;
    }

    .nav-links li a {
        font-size: 0.9rem;
    }

    .nav-links.active {
        display: flex;
    }

    .main-sec {
        padding-top: 3.75rem;
    }

    .section-1 {
        gap: 1.875rem;
        flex-wrap: wrap;
        padding: 0.5rem 1.25rem;
        align-items: center;
        justify-content: center;
    }

    .line {
        width: 100%;
        max-width: 16px;
        background-color: #0096FF;
        border: 0.5px solid #42A5F5;
        padding: 1px;
        border-radius: 0.125rem;
    }

    .left-div {
        width: 100%;

    }

    .right-div {
        width: 100%;

    }

    .cv-btn {
        max-width: 180px;
        width: 100%;
        padding: 0.5rem 1rem;
        text-align: center;
        font-size: 0.7rem;
        border-radius: 0.35rem;
        margin-top: 1rem;
    }

    .main-btn {
        padding: 0.725rem;
        font-size: 0.7rem;
        border-radius: 0.35rem;
    }

    .section-2 {
        flex-wrap: wrap;
        gap: 1.875rem;

    }

    .section-2 h1 {
        padding-top: 3.125rem;
    }

    .ex-div1 {

        flex-wrap: wrap;
        gap: 1.875rem;
        padding: 0.5rem 1.25rem;
        align-items: center;
        justify-content: center;
    }

    .div-left {
        width: 100%;


    }

    .div-right {
        width: 100%;


    }

    .ex-div2 {
        gap: 2rem;
        flex-wrap: wrap;

    }

    .div-1 {
        width: 100%;
        max-width: 370px;
        padding: 0.1875rem;
    }

    .div-2,
    .div-3 {
        width: 100%;
        max-width: 370px;
        padding: 0.1875rem;
    }

    .p-btn {
        width: 100%;
        max-width: 120px;
        padding: 0.375rem 0.5rem;

    }

    .skill-container {
        padding: 4rem 0rem 0rem 0rem;
    }

    .main-btns {
        gap: 1.125rem;
    }

    .fa-square-github {
        font-size: 2.5rem;
    }

    .progress-container {
        flex-wrap: wrap;
        padding: 0rem 1.2rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .left-bars,
    .right-bars {
        width: 100%;
    }

    .bar-container {
        padding: 0.5rem 0rem 0.125rem 0.125rem;
    }

    .skill-sec {
        width: 100%;
        padding: 1rem 1rem;
    }

    .cards {
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0.375rem 0;
        width: 100%;
    }

    .card {
        width: 100%;
        padding: 0.5rem;
        max-width: 140px;
        border-radius: 0.5rem;
    }

    .icon img {
        max-width: 45px;
        width: 100%;
    }

    .bar {
        width: 100%;
        height: 9px;
        overflow: hidden;
        background: white;
        border-radius: 0.5rem;
        transition: 3s ease;
    }

    /***---------------*real--------------------*footer---------***/

    .main-footer>article {
        width: 100%;
        padding: 0.25rem 1.5rem;
    }

    .msg-box {
        padding: 0.75rem 0.5rem;
        width: 100%;
    }

    .form {
        flex-wrap: wrap;
        gap: 0;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    /**-----------------footer-------contact-------us------sec------------**/
    .footer {
        height: auto;
        flex-wrap: wrap;
        text-align: center;
        gap: 0.5rem;
        padding: 0.75rem 2.75rem;
    }

    .footer-container {
        height: auto;
        gap: 0.125rem;
        text-align: start;
        flex-wrap: wrap;
        align-items: center;

    }

}